app/node_modules
app/assets/webpack

node_modules

build/files.wxs
dist
*/dist
*/typings
*.tsbuildinfo
*/builtin-plugins/

*.xcworkspacedata
*.xcuserstate
*.wixpdb

.DS_Store
.DS_Store?

coverage
.nyc_output
npm-debug.log

builtin-plugins
package-lock.json
yarn-error.log

docs/api
# IDE
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.travis.ssh.key
*.code-workspace
.idea/

.electron-symbols
sentry.properties
sentry-symbols.js

*.psd

crowdin.yml
.crowdin.env

# Build & Cache
.electron-builder-cache/
.npm-cache/

# OS Files
Thumbs.db
desktop.ini
